<%= form_for(contestant) do |f| %>
  <% if contestant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contestant.errors.count, "error") %> prohibited this contestant from being saved:</h2>

      <ul>
      <% contestant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_area :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :show_id %>
    <%= f.number_field :show_id %>
  </div>

  <div class="field">
    <%= f.label :placing %>
    <%= f.number_field :placing %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
