<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contestant.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @contestant.slug %>
</p>

<%= link_to 'Edit', edit_admin_contestant_path(@contestant) %> |
<%= link_to 'Back', admin_contestants_path %>
