<ul>
  <li><%= link_to "ingredients", admin_ingredients_path %></li>
  <li><%= link_to "shows", admin_shows_path %></li>
  <li><%= link_to "sesaons", admin_seasons_path %></li>
  <li><%= link_to "judges", admin_judges_path %></li>
  <li><%= link_to "contestants", admin_contestants_path %></li>
</ul>
