<h1>Chopped Basket Ingredients:</h1>

<% if params[:search] %>
  <p>Search query: <%= params[:search] %></p>
<% end %>
<table>
  <tr>
    <th style='width:50%'>Ingredient</th>
    <th class='centered'>Count</th>
    <th class='centered'>Appetizer</th>
    <th class='centered'>Entr&eacute;e</th>
    <th class='centered'>Dessert</th>
  </tr>
  <% @ingredients.each do |ingredient| %>
    <tr>
      <td><%= link_to ingredient.name, ingredient %>
      <td class='centered'><%= ingredient.usage_count %>
      <td class='centered'><%= ingredient.appetizer ? icon('check-circle') : '' %></td>
      <td class='centered'><%= ingredient.entree ? icon('check-circle') : '' %></td>
      <td class='centered'><%= ingredient.dessert ? icon('check-circle') : '' %></td>
    </tr>
  <% end %>
</table>
